body {
    text-align: center;
    font-family: Guidea 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
}

#first {
    font-size: 45px;
}

input {
    position: relative;
    height: 30px;
}