body {
    text-align: center;
    font-family: Guidea 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 60px;
}

#first {
    font-size: 45px;
}

input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
}

button {
    position: relative;
    height: 4em;
    width: 6em;
    background-color: #adff2f;
    border: none;
}

button:hover {
    background-color: rgb(10, 182, 10);
}

.delete {
    display: none;
}